body {
  background-color: rgba(22, 119, 22, 0.2);
  font-family: Lato;
}
h1 {
  color: rgb(22, 119, 22);
  text-align: center;
  margin: 20px 40px;
  background-color: white;
  border-radius: 10px;
  line-height: 80px;
  font-weight: 600;
}
form {
  text-align: center;
  font-size: larger;
}
button {
  font-size: normal;
  border-radius: 5px;
}
.card {
  border-radius: 10px;
}
.city {
  font-size: xx-large;
  font-weight: 700;
}
.temp {
  font-size: xx-large;
}
.units {
  font-size: medium;
  position: relative;
  bottom: 10px;
}
.hour {
  text-align: center;
  font-size: x-large;
}
.emoji {
  text-align: center;
  font-size: xx-large;
}
.futureHours {
  font-size: larger;
  text-align: center;
}
.futureEmojis {
  font-size: larger;
  text-align: center;
}
.futureTemps {
  font-size: larger;
  text-align: center;
}
.nextDays {
  font-size: x-large;
  text-align: center;
  font-weight: 600;
}
.nextEmojis {
  font-size: x-large;
  text-align: center;
}
.nextTemps {
  font-size: x-large;
  text-align: center;
}
hr {
  border: solid 2px black;
  margin: 25px auto 15px auto;
}
